QPushButton::indicator{
	width:13px;
	height:13px;
	border-radius:8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00FCFC;
}
QPushButton::indicator:checked {
	background-color:#00FCFC;
}
QPushButton::indicator:unchecked {
	border-color:white;
}
