QScrollBar:vertical{ width:8px; background:#15808C; margin:0px,0px,0px,0px; padding-top:0px; padding-bottom:0px;}
QScrollBar::handle:vertical{ width:8px; background:#00B3BE; border-radius:4px; min-height:20;}
QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical { background:#15808C; border-radius:4px;}